

<div class="sites"
     infinite-scroll
     (scrolled)="onScrollDown()"
>
  <div *ngFor="let site of sites">
    <div class="site">
      <img class="left" src="{{imgServerUrl + site.img}}">
      <div class="right">
        <div class="header">
          <div class="title">
            <a target="_blank" href="{{site.href}}">[{{site.site}}] {{site.title}}</a>
          </div>
          <div class="date">
            {{site.updatedAt | date : 'yy/MM/dd hh:mm:ss'}}
          </div>
        </div>
        <div class="intro">
          {{site.intro}}
        </div>
      </div>
    </div>
    <div>
      <hr>
    </div>

  </div>
</div>