<md-toolbar class="header">
  <div class="block"></div>
  <button md-raised-button [routerLink]=" ['./'] "
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    Index
  </button>
  <!--<button md-raised-button [routerLink]=" ['./site-list'] "-->
          <!--routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
    <!--setting-->
  <!--</button>-->

  <md-input-container class="search">
    <input mdInput placeholder="搜索内容" #searchBox (keyup)="search(searchBox.value)">
  </md-input-container>
</md-toolbar>

<site-list></site-list>